/**
  * _variables.scss
  * Contains SCSS variables used in this website's stylesheet.
  */

// Globals
$font-stack: 'Georgia', serif;
$font-size: 17px;
$font-size-mobile: 15px;

$code-font-stack: 'Source Code Pro', monospace;

// Body
$body-text-color: #fcf1de;
$body-background-color: #45503B;
$body-top-border-color: #fcf1de;
$body-top-border-width: 5px;

// Links
$link-color: #fcf1de;

// Navigation
$nav-bottom-border-color: #fcf1de;
$nav-bottom-border-width: 1px;

$nav-link-color: #fcf1de;
$nav-link-padding-y: 0.7rem;
$nav-link-padding-x: 1.5rem;
$nav-link-underline-color: #fcf1de;

$nav-icon-color: #fcf1de;
$nav-icon-background-color: #fcf1de;

// Blog post headings and page titles
$post-title-color: #fcf1de;
$post-date-color: #fcf1de;

// Message box
$message-color: #fcf1de;
$message-background-color: #fcf1de;
